*{
    margin:0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
header{
    background-color: rgb(19, 60, 135);
    width: 100%;
    height: 60px;
}
header h3{
    color: white;
    text-align: center;
    padding: 10px;

}
header h3:hover{
    color: red;

}
footer h4,p{
    background-color: rgb(19, 60, 135);
    width: 100%;
    height: 30px;
    color: white;
    text-align: center;
}
footer,p:hover{
    color: rgb(0, 153, 255);
}
footer h4{
    color: white;
}
footer h4:hover{
    color: rgb(0,153, 255);
}
.banner{
    width: 100%;
    height: 400px;
    background-image: url(https://imgs.search.brave.com/iJFpVHics6j-gmJ5fGK5A7lkWR6I5efN7dVqnfVZ0W4/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9wbHVz/LnVuc3BsYXNoLmNv/bS9wcmVtaXVtX3Bo/b3RvLTE2NzU4ODk3/MjE3MjAtZDZiNzkx/Y2RmNGRiP2l4bGli/PXJiLTQuMC4zJml4/aWQ9TTN3eE1qQTNm/REI4TUh4elpXRnlZ/Mmg4TVh4OFltOXZh/M04wYjNKbGZHVnVm/REI4ZkRCOGZId3cm/dz0xMDAwJnE9ODA);
    background-size: cover;
    background-position: center;
}
.row{
    width: 100%;
    height: 400px;
    background-color: rgb(15, 59, 140);
    display:flex;
    align-items: center;
    justify-content: space-around;
}
.col{
    width: 250px;
    height: 320px;
    background-color: rgb(13, 53, 129);
    text-align: center;
    padding: 6px;
}
h3,h4{
    text-align: center;
    padding-bottom: 10px;
}
button{
    color: rgb(0, 153, 255);
    padding: 10px;
    margin-left: 17px;
}

